include README.rst LICENSE.txt CHANGES.txt pyproject.toml setup.py setup.cfg tox.ini
recursive-include ppl *.pxd *.pyx *.py
recursive-include tests  *.pyx *.py
include ppl/ppl_shim.cc
include ppl/ppl_shim.hh
include docs/Makefile
include docs/source/conf.py
include docs/source/index.rst

recursive-exclude ppl *.so *.c *.cpp
recursive-exclude tests *.so *.c *.cpp
